---
import HeaderContactLink from "@/components/about/header/contact/HeaderContactLink.astro";
import { Icon } from "astro-icon/components";
---

<nav>
  <ul class="flex items-center gap-x-4 px-2.5">
    <HeaderContactLink
      link="https://www.linkedin.com/in/manusanchev/"
      ariaLabel="linkedin"
      target="_blank"
      icon="LinkednIcon"
    />
    <HeaderContactLink
      link="https://github.com/manusanchev"
      ariaLabel="github"
      target="_blank"
      icon="GithubIcon"
    />
    <HeaderContactLink
      link="mailto:manuvempleo@gmail.com"
      ariaLabel="email"
      target="_blank"
      icon="EmailIcon"
    />
    <li class="hidden dark:block">
      <Icon
        id="toggle-theme-light"
        name="SunIcon"
        class="size-4 hover:rotate-12 cursor-pointer transition dark:hover:text-stone-100 text-stone-600 hover:text-stone-900 dark:text-stone-400"
      />
    </li>
    <li class="dark:hidden">
      <Icon
        id="toggle-theme-dark"
        name="MoonIcon"
        class="size-4 hover:rotate-12 cursor-pointer transition dark:hover:text-stone-100 dark:text-stone-400 text-stone-600 hover:text-stone-900"
      />
    </li>
  </ul>
</nav>

<script>
  const toggleTheme = () => {
    const theme = document.documentElement.classList.toggle("dark");
    localStorage.setItem("theme", theme ? "dark" : "light");
  };

  document
    .getElementById("toggle-theme-light")
    ?.addEventListener("click", toggleTheme);
  document
    .getElementById("toggle-theme-dark")
    ?.addEventListener("click", toggleTheme);
</script>
