---
import { Icon } from "astro-icon/components";

interface Props {
  link: string;
  ariaLabel: string;
  target: string;
  icon: string;
}

const { link, ariaLabel, target, icon } = Astro.props;
---

<li>
  <a
    href={link}
    class="flex items-center justify-center dark:text-neutral-300 text-neutral-500 hover:text-neutral-900 transition dark:hover:text-white"
    aria-label={ariaLabel}
    target={target}
  >
    <Icon name={icon} class="size-4" />
  </a>
</li>
