---
import { getCollection } from "astro:content";
import ProjectCard from "@/components/project/card/ProjectCard.astro";
import { collections } from "@/types/collections";

const allProjects = await getCollection(collections.PROJECTS);
const sortedProjects = allProjects.sort(
  (a, b) =>
    Number(new Date(b.data.sortDate)) - Number(new Date(a.data.sortDate)),
);
---

<section class="flex flex-col gap-y-8 lg:gap-y-14 mt-4 lg:mt-[2rem] mb-10">
  {
    sortedProjects.map((project) => {
      return <ProjectCard project={project.data} />;
    })
  }
</section>
