---
interface Props {
  project: any;
}
import { Icon } from "astro-icon/components";
const { project } = Astro.props;

const hasDemoAndLinks = project.links.demo || project.links.npm;
---

<article
  class="border dark:border-stone-700 border-stone-300 transition-colors group md:dark:hover:bg-stone-800/50 md:hover:bg-stone-200 rounded-lg"
>
  <div class="px-4 py-2 flex flex-col">
    <div class="flex items-center justify-between">
      <p
        class={`font-medium dark:text-stone-100 text-stone-900 ${
          hasDemoAndLinks
            ? "underline md:no-underline md:group-hover:underline decoration-wavy decoration-stone-600 dark:decoration-stone-400 underline-offset-2 cursor-pointer"
            : ""
        }`}
      >
        <a
          href={project.links.demo ? project.links.demo : project.links.npm}
          target="_blank"
        >
          {project.title}
        </a>
      </p>
      {
        project.links?.github && (
          <a href={project.links.github} target="_blank">
            <Icon
              name="GithubIcon"
              class="size-4 dark:text-stone-400 text-stone-600 hover:text-stone-900  transition-colors dark:hover:text-stone-200 "
            />
          </a>
        )
      }
    </div>

    <p
      class="max-w-[70ch] dark:text-stone-400 text-stone-600 leading-relaxed text-sm"
    >
      {project.description}
    </p>
  </div>
</article>
