---
interface Props {
    url: string;
    icon: string;
    name: string;
}
import { Icon } from 'astro-icon/components'
const { url , icon, name } = Astro.props;
---

<a href={url}  class="bg-white/90 text-neutral-800 text-xs px-2 py-1 flex items-center gap-x-2 max-w-fit rounded-lg lg:hover:bg-white lg:transition-colors"
   target="_blank">
    <Icon name={icon} class="w-4 h-4" />
    {name}
</a>