---
import HeaderContactNav from "@/components/about/header/contact/HeaderContactNav.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <a
    class="rounded-xl px-2.5 py-1.5 text-neutral-300 hover:text-white hover:bg-neutral-700 transition-colors gap-x-2 flex items-center"
    href="https://manusanchev.com"
  >
    <Icon name="HouseIcon" />
    <span class="text-sm">Inicio</span>
  </a>
  <HeaderContactNav />
</header>
