@import "tailwindcss";

@import "./fonts.css";
@import "./base.css";


@keyframes fall {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
}

.animate-fall {
    animation: fall linear infinite;
}