@import "fonts.css";
@import "base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fall {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(110vh);
    }
}

.animate-fall {
    animation: fall linear infinite;
}