@import "tailwindcss";

@import "@/assets/css/fonts.css";
@import "@/assets/css/base.css";

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
        visibility: hidden;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
    visibility: hidden;
}