---
import AboutHeader from "@/components/about/header/AboutHeader.astro";
---

<div>
  <AboutHeader />
  <section class="mt-10">
    <p class="dark:text-neutral-300 leading-loose text-neutral-800">
      Soy <b class="dark:text-white text-neutral-700">Manuel</b>, Desarrollador
      web con 5 años de experiencia, especializado en desarrollo frontend. Me
      apasiona crear software escalable, mantenible y eficiente en rendimiento.
      Siempre con ganas de seguir creciendo y aportando soluciones innovadoras a
      problemas complejos.
    </p>
  </section>
</div>
