---
---

<section>
  <p class="leading-loose">
    Soy <b class="dark:text-white">Manuel</b>, Desarrollador web con 5 años de
    experiencia, especializado en desarrollo frontend. Me apasiona crear
    software escalable, mantenible y eficiente en rendimiento. Siempre con
    ganas de seguir creciendo y aportando soluciones innovadoras a problemas
    complejos.
  </p>
</section>
