---
import AboutHeader from './header/AboutHeader.astro';
import AboutCard from './AboutCard.astro';

const { class: inheritedClass } = Astro.props;
---

<div class={`p-4 md:p-8 ${inheritedClass}`}>
    <AboutHeader />
    <a href="/en">English</a> | <a href="/es">Espa침ol</a>
    <p class="text-2xl font-semibold mt-10 lg:text-4xl lg:max-w-[40ch] lg:mt-14">
        Desarrollador web con m치s de 4 a침os de experiencia construyendo producto.
    </p>
    <section class="mt-8">
        <AboutCard title="Sobre mi"  description="Con mentalidad pragm치tica, mi objetivo en cada proyecto en el que participo es el de generar valor para el negocio y el cliente, dando una buena experiencia de usuario, asegurando la calidad en todas las fases de crecimiento. He colaborado con empresas de diferentes sectores, desde B2B hasta B2C, abarcando proyectos desde etapas pre-seed hasta proyectos consolidados."/>
    </section>
</div>