@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: "Fixel";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fixel/FixelBlack.woff2") format("woff2");
    font-display: swap;
}