---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/about/About.astro";
import ProjectSection from "@/components/project/ProjectSection.astro";
---

<Layout>
  <div
    class="w-full flex flex-col gap-y-8 px-4 lg:px-0 lg:w-[45rem] lg:mx-auto"
  >
    <div class="animate-fade-in">
      <About />
    </div>
    <div class="animate-fade-in" style="animation-delay: 0.3s">
      <ProjectSection />
    </div>
  </div>
</Layout>
