---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/about/About.astro";
import ProjectSection from "@/components/project/ProjectSection.astro";
import BlogButton from "@/components/blog/BlogButton.astro";
import Snow from "@/components/Snow.astro";
---

<Layout>
  <div class="relative">
    <Snow />
  </div>
  <div class="animate-fade-in" style="animation-delay: 0.1s">
    <About />
  </div>
  <div class="animate-fade-in" style="animation-delay: 0.3s">
    <ProjectSection />
  </div>
  <div class="animate-fade-in flex justify-center" style="animation-delay: 0.6s">
    <BlogButton />
  </div>
</Layout>
