---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/about/About.astro";
import ProjectSection from "@/components/project/ProjectSection.astro";
import Snow from "@/components/Snow.astro";
---

<Layout>
  <div class="relative">
    <Snow />
  </div>
  <div class="w-full flex flex-col gap-y-8 px-4 lg:px-0 lg:w-[70ch] lg:mx-auto">
    <About />
    <ProjectSection />
  </div>
</Layout>
