---
import '../../assets/css/main.css'

import Layout from '../../layouts/Layout.astro';
import About from '../../components/about/About.astro';
import ProjectSection from '../../components/project/ProjectSection.astro';
import AboutHeaderMobile from '../../components/about/header/AboutHeaderMobile.astro';

export async function getStaticPaths() {
	return [
		{ params: { lang: 'es' } },
		{ params: { lang: 'en' } },
	];
}

const lang = Astro.params.lang;
let content = {
	en: {
		title: "Welcome to my website",
		description: "This is the English version of the website."
	},
	es: {
		title: "Bienvenido a mi sitio web",
		description: "Esta es la versión en español del sitio web."
	}
}[lang];
---

<Layout lang={lang}>
  	<div class="lg:flex">
  		<About
  			class="lg:h-screen lg:sticky lg:top-0 border-b lg:border-r lg:border-b-0 border-separator pb-[4rem] lg:max-w-[50rem] lg:overflow-y-auto"
  		/>
  		<main class="pt-8 pb-[5rem] lg:pb-0 lg:w-">
  			<ProjectSection />
  		</main>
		<AboutHeaderMobile />
  	</div>
</Layout>